.home {
    display: flex;
    gap: 35px;
}

.home .main-field {
    width: 475px;
}

.home .stories-field {
    position: relative;
}

.home .stories-field .stories-container {
    display: flex;
    gap: 20px;
    border: 1px solid var(--ig-gray);
    border-radius: 10px;
    margin: 15px 0;
    padding: 20px;
}

.home .stories-field .stories-container {
    position: relative;
    display: flex;
    margin: 15px 0;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.home .stories-field .stories-container::-webkit-scrollbar {
    display: none;
}

.home .stories-field .stories-arrow-left {
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: -294px -226px;
    height: 45px;
    width: 45px;
    background-image: url("../images/pngs/icon2.png");
}

.home .stories-field .stories-arrow-right {
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: -294px -273px;
    height: 45px;
    width: 45px;
    background-image: url("../images/pngs/icon2.png");
}

.home .stories-field .stories-container .story {
    width: 66px;
    display: grid;
    text-align: center;
    gap: 10px;
    cursor: pointer;
}

.home .stories-field .stories-container .story>img {
    --story-thumbnail: 62px;
    height: var(--story-thumbnail);
    width: var(--story-thumbnail);
    position: relative;
    object-fit: cover;
    border-radius: 45px;
    border: 2px solid white;
}

.home .stories-field .stories-container .story::before {
    --story-thumbnail: 66px;
    scale: 1.08;
    position: absolute;
    display: block;
    content: "";
    border-radius: 45px;
    height: var(--story-thumbnail);
    width: var(--story-thumbnail);
    background: radial-gradient(circle at 0% 100%, #fdf497 0%, #fdf497 3%, #fd5949 60%, #d6249f 80%);
}

.home .post-field .post {
    position: relative;
    border: 1px solid var(--ig-gray);
    border-radius: 10px;
    margin-bottom: 20px;
}

.home .post-field svg:hover {
    color: var(--light-hover);
    fill: var(--light-hover)
}

.home .post-field .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.home .post-field .post-header .user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.home .post-field .post-header .user .username {
    font-weight: bold;
    margin-left: 10px;
}

.home .post-field .post-header .user .username:hover {
    color: var(--light-hover);
}

.home .post-field .post-header .user img {
    --user-thumbnail: 40px;
    height: var(--user-thumbnail);
    width: var(--user-thumbnail);
    position: relative;
    object-fit: cover;
    border-radius: 45px;
    border: 2px solid white;
    z-index: 2;
}

.home .post-field .post-header::before {
    --story-thumbnail: 44px;
    scale: 1.08;
    position: absolute;
    display: block;
    content: "";
    border-radius: 45px;
    height: var(--story-thumbnail);
    width: var(--story-thumbnail);
    background: radial-gradient(circle at 0% 100%, #fdf497 0%, #fdf497 3%, #fd5949 60%, #d6249f 80%);
}

.home .post-field .image-arrow-left {
    opacity: 0.5;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: -294px -226px;
    height: 45px;
    width: 45px;
    background-image: url("../images/pngs/icon2.png");
}

.home .post-field .image-arrow-right {
    opacity: 0.5;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: -294px -273px;
    height: 45px;
    width: 45px;
    background-image: url("../images/pngs/icon2.png");
}

.home .post-field .post-image-field {
    position: relative;
}

.home .post-field .post-image-field .post-image-container {
    position: relative;
    display: flex;
    width: 473px;
    height: 500px;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.home .post-field .post-image-field .post-image-container::-webkit-scrollbar {
    display: none;
}

.home .post-field .post-image-field .post-image-container img {
    width: inherit;
    height: inherit;
    background-color: black;
    object-fit: contain;
    position: absolute;
    transition: 300ms;
}

.home .post-field .post-bottom {
    padding: 10px 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.home .post-field .post-action {
    gap: 10px;
    display: flex;
}

.home .post-field .post-action svg:last-child {
    margin: 0 0 0 auto;
}

.home .post-field .post-description {
    display: flex;
}

.home .post-field .post-description .username {
    cursor: pointer;
    font-weight: bold;
}

.home .post-field .post-description .description-content {
    margin-left: 10px;
}


.home .user-field {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: 85px;
    gap: 15px;
}

@media (width<=1370px) {
    .home .user-field {
        display: none;
    }
}

.home .user-field .current-user,
.home .user-field .suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .user-field .current-user>img {
    --story-thumbnail: 62px;
    cursor: pointer;
    height: var(--story-thumbnail);
    width: var(--story-thumbnail);
    position: relative;
    object-fit: cover;
    border-radius: 45px;
    border: 2px solid white;
    z-index: 2;
}

.home .user-field .current-user::before {
    --story-thumbnail: 66px;
    scale: 1.08;
    position: absolute;
    display: block;
    content: "";
    border-radius: 45px;
    height: var(--story-thumbnail);
    width: var(--story-thumbnail);
    background: radial-gradient(circle at 0% 100%, #fdf497 0%, #fdf497 3%, #fd5949 60%, #d6249f 80%);
}

.home .user-field .current-user .user,
.home .user-field .suggestion .user {
    flex-grow: 1;
    margin-left: 15px;
}

.home .user-field .current-user .user .name,
.user-suggestions,
.home .user-field .suggestion .user .followed-by,
.home .post-field .view-all-comment-btn,
.home .post-field .post-time-before {
    color: var(--ig-gray-3);
}

.home .user-field .current-user .switch-btn,
.home .user-field .suggestion .follow-btn {
    color: var(--blue-2);
    cursor: pointer;
}

.home .user-field .suggestions-list .suggestion img {
    --user-thumbnail: 40px;
    height: var(--user-thumbnail);
    width: var(--user-thumbnail);
    position: relative;
    object-fit: cover;
    border-radius: 45px;
    border: 2px solid white;
    z-index: 2;
    cursor: pointer;
}

.home .user-field .suggestions-list .suggestion::before {
    --story-thumbnail: 44px;
    scale: 1.08;
    position: absolute;
    display: block;
    content: "";
    border-radius: 45px;
    height: var(--story-thumbnail);
    width: var(--story-thumbnail);
    background: radial-gradient(circle at 0% 100%, #fdf497 0%, #fdf497 3%, #fd5949 60%, #d6249f 80%);
}

.home .user-field .suggestions-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.home .user-field .username,
.home .post-field .view-all-comment-btn {
    cursor: pointer;
}

.home .post-field .post-image-field .post-image-container-dot-group {
    position: absolute;
    bottom: 15px;
    width: inherit;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.home .post-field .post-image-field .post-image-container-dot-group .post-image-container-dot {
    --dot-radius: 6px;

    width: var(--dot-radius);
    height: var(--dot-radius);
    border-radius: 45px;
    background-color: white;
    opacity: 0.5;
}

.home .post-field .post-image-field .post-image-container-dot-group .active {
    opacity: 1;
}