body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  --ig-gray-light: #eeeded;
  --ig-gray: #DBDBDB;
  --ig-gray-2: #f9f9f9;
  --ig-gray-3: #a19a9a;
  --blue: #74c3ff;
  --blue-2: #0994fe;
  --blue-active: #0390fc;
  --blue-fb: #385185;
  --blue-link: #00376b;
  --red-error: #f22323;
  --light-hover: #8d8d8d;
}


a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

svg {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.developing {
  font-size: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
  z-index: 100;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}